---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import PostList from "../../components/PostList.astro";
import { getGalleryPosts } from "../../lib/postUtils.astro";
import ImageGallery from "../../components/ImageGallery.astro";

const galleryPosts = await getGalleryPosts();
---

<BaseLayout
  title={`Gallery - ${SITE_TITLE}`}
  description=`A Gallery of curated images - ${SITE_DESCRIPTION}`
>
  <section>
    <h1>Gallery</h1>
    <ImageGallery posts={galleryPosts} />
  </section>
</BaseLayout>
<style>
  section {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  h1 {
    width: 100%;
    text-align: start;
    margin-top: 0;
  }

  .all-posts {
    font-weight: 700;
    margin-top: 2rem;
    text-align: center;
    display: block;
  }
</style>
