---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { Content as AboutPageContent } from "../content/static/About-Page-Content.md";
---

<BaseLayout
  title={`About - ${SITE_TITLE}`}
  description={`About - ${SITE_DESCRIPTION}`}
>
  <h1>About</h1>
  <AboutPageContent />
</BaseLayout>
