---
import BaseLayout from "../layouts/BaseLayout.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getAllPosts } from "../lib/postUtils.astro";
import PostList from "../components/PostList.astro";

const posts = await getAllPosts();
---

<BaseLayout
    title={`Gallery - ${SITE_TITLE}`}
    description=`A Gallery of curated images - ${SITE_DESCRIPTION}`
>
    <section>
        <h1>All Posts</h1>
        <PostList posts={posts} />
    </section>
</BaseLayout>
<style>
    section {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    h1 {
        width: 100%;
        text-align: start;
        margin-top: 0;
    }

    .all-posts {
        font-weight: 700;
        margin-top: 2rem;
        text-align: center;
        display: block;
    }
</style>
