---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";

const links = (await getCollection("links")).map((link) => link.data);
---

<BaseLayout
  title={`Links - ${SITE_TITLE}`}
  description="Quick Links to other places I'm on the web."
>
  <h2>Links</h2>
  <ul>
    {
      links.map((link) => (
        <li>
          <h3>
            <a href={link.url}>{link.linkText}</a>
          </h3>
          {link.description && <p>{link.description}</p>}
        </li>
      ))
    }
  </ul>
</BaseLayout>
<style>
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    li {
      list-style-type: none;
      h3 {
        margin: 0;
        text-align: center;
        a {
          text-decoration: none;
          color: var(--text-color);
          list-style-type: none;
        }
      }
      p {
        margin: 0;
      }
    }
  }
</style>
