---
const { categories } = Astro.props;
---

<div class="categories">
  <h3>CATEGORIES</h3>
  <ul>
    {
      categories.map((category: string, index: number) => (
        <li>
          <a href={`/categories/${category}`}>{category}</a>
          {index < categories.length - 1 && <span>, </span>}
        </li>
      ))
    }
  </ul>
</div>
<style>
  .categories {
    padding: 1.25rem 2rem;
    border: 1px solid var(--utility-color);
    margin: 4rem 0 3.75rem;

    h3 {
      font-family: var(--body-font);
      font-size: 0.875rem;
      line-height: 1.125rem;
      font-weight: 600;
      margin: 0 0 0.5rem;
      color: var(--theme-text);
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      font-size: 1rem;
      line-height: 1.25rem;
      padding: 0;
      span {
        margin-left: -0.25rem;
        margin-right: 0.5rem;
      }

      a {
        font-weight: 400;
        text-decoration: none;

        &:hover {
        }
      }
    }
  }
</style>
