---
import HeaderLink from "./HeaderLink.astro";
import MobileNav from "./MobileNav.astro";
import { SITE_TITLE } from "../consts";
import { getNavLinks } from "../lib/postUtils.astro";

const navLinks = await getNavLinks();
---

<header>
  <div class="desktop-only">
    <div class="header-container">
      <a class="title title-text" href="/">{SITE_TITLE}</a>

      <nav>
        {
          navLinks.map((item) => (
            <HeaderLink href={item.href}>{item.title}</HeaderLink>
          ))
        }
      </nav>
    </div>
  </div>
  <div class="mobile-only">
    <div class="header-container">
      <a class="title" href="/">{SITE_TITLE}</a>
      <div class="mobile-menu">
        <span>Menu</span>
        <div class="hamburger">
          <div
            class="mobile-only hamburger image-container"
            onclick="menuToggle()"
          >
            <img
              id="hamburger-icon"
              src="/assets/astrolabist-menu-burger.svg"
              alt="Menu"
            />
            <img
              id="close-icon"
              src="/assets/astrolabist-menu-close.svg"
              alt="Close Menu"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<MobileNav />

<style>
  header {
    width: 100%;
    margin-bottom: 2rem;
    
    * {
      color: var(--header-color);
    }
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    img {
      height: 4rem;
      min-width: 4rem;
      width: 4rem;
    }
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    span {
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
  }

  .title {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.25rem;
    font-family: var(--header-font);
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
  }
  nav a {
    padding: 0.5em 0;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    line-height: 1.125rem;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
    }
  }
  nav a.active {
    text-decoration: underline;
    text-decoration-thickness: 5%;
    text-decoration-skip-ink: true;
  }

  @media (max-width: 1060px) {
    nav {
      column-gap: 1rem;
    }
    .title-img {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .title {
      display: block;
    }
    .hamburger {
      display: flex;
      align-items: center;
    }
    #close-icon {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .mobile-menu span {
      display: none;
    }
  }
</style>
