---
import { getCollection } from "astro:content";

const settings = await getCollection("settings");
const socialLinks = settings[0]?.data?.social || {};
---

<div class="socialbuttons">

  
      <a href={socialLinks.instagram} target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_298_2557)">
            <path d="M9.00401 5.50781C6.44865 5.50781 4.38749 7.51172 4.38749 9.99609C4.38749 12.4805 6.44865 14.4844 9.00401 14.4844C11.5594 14.4844 13.6205 12.4805 13.6205 9.99609C13.6205 7.51172 11.5594 5.50781 9.00401 5.50781ZM9.00401 12.9141C7.35267 12.9141 6.00267 11.6055 6.00267 9.99609C6.00267 8.38672 7.34865 7.07812 9.00401 7.07812C10.6594 7.07812 12.0053 8.38672 12.0053 9.99609C12.0053 11.6055 10.6553 12.9141 9.00401 12.9141ZM14.8862 5.32422C14.8862 5.90625 14.404 6.37109 13.8094 6.37109C13.2107 6.37109 12.7326 5.90234 12.7326 5.32422C12.7326 4.74609 13.2147 4.27734 13.8094 4.27734C14.404 4.27734 14.8862 4.74609 14.8862 5.32422ZM17.9437 6.38672C17.8754 4.98438 17.546 3.74219 16.4893 2.71875C15.4366 1.69531 14.1589 1.375 12.7165 1.30469C11.2299 1.22266 6.7741 1.22266 5.28749 1.30469C3.8491 1.37109 2.57142 1.69141 1.51472 2.71484C0.458028 3.73828 0.132581 4.98047 0.06026 6.38281C-0.024115 7.82812 -0.024115 12.1602 0.06026 13.6055C0.128564 15.0078 0.458028 16.25 1.51472 17.2734C2.57142 18.2969 3.84508 18.6172 5.28749 18.6875C6.7741 18.7695 11.2299 18.7695 12.7165 18.6875C14.1589 18.6211 15.4366 18.3008 16.4893 17.2734C17.542 16.25 17.8714 15.0078 17.9437 13.6055C18.0281 12.1602 18.0281 7.83203 17.9437 6.38672ZM16.0232 15.1562C15.7098 15.9219 15.1031 16.5117 14.3116 16.8203C13.1263 17.2773 10.3138 17.1719 9.00401 17.1719C7.69419 17.1719 4.87767 17.2734 3.69642 16.8203C2.90892 16.5156 2.30222 15.9258 1.98481 15.1562C1.51472 14.0039 1.62321 11.2695 1.62321 9.99609C1.62321 8.72266 1.51874 5.98438 1.98481 4.83594C2.29821 4.07031 2.9049 3.48047 3.69642 3.17187C4.88169 2.71484 7.69419 2.82031 9.00401 2.82031C10.3138 2.82031 13.1304 2.71875 14.3116 3.17187C15.0991 3.47656 15.7058 4.06641 16.0232 4.83594C16.4933 5.98828 16.3848 8.72266 16.3848 9.99609C16.3848 11.2695 16.4933 14.0078 16.0232 15.1562Z" fill="currentColor"/>
          </g>
          <defs>
            <clipPath id="clip0_298_2557">
              <rect width="18" height="20" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </a>



      <a href={socialLinks.bluesky} target="_blank" rel="noopener noreferrer" aria-label="Bluesky">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.36719 2.4297C6.64844 4.13673 9.10156 7.60548 10 9.46876C10.8984 7.60939 13.3516 4.14064 15.6328 2.4297C17.2773 1.19532 19.9414 0.242199 19.9414 3.28126C19.9414 3.88673 19.5938 8.37892 19.3906 9.10939C18.6797 11.6406 16.0938 12.2891 13.793 11.8945C17.8125 12.5781 18.8359 14.8438 16.625 17.1094C12.4297 21.4141 10.5977 16.0313 10.1289 14.6524C10.0625 14.4609 10.0273 14.3477 10 14.3477C9.97266 14.3477 9.9375 14.4649 9.87109 14.6524C9.40234 16.0313 7.56641 21.4141 3.375 17.1094C1.16797 14.8438 2.1875 12.5781 6.20703 11.8945C3.90625 12.2891 1.32031 11.6406 0.613281 9.10548C0.40625 8.37501 0.0585938 3.88282 0.0585938 3.27736C0.0585938 0.238293 2.72266 1.19142 4.36719 2.42579V2.4297Z" fill="currentColor"/>
        </svg>
      </a>


      <a href={socialLinks.mastodon} target="_blank" rel="noopener noreferrer" aria-label="Mastodon">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_298_2563)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9267 0.257251C17.1469 0.585406 19.0198 2.2789 19.3089 4.42782C19.4348 5.70596 19.3725 7.6264 19.3422 8.55989C19.3346 8.7922 19.3291 8.96338 19.3289 9.04834C19.3289 9.17379 19.3107 10.3191 19.3034 10.44C19.1089 13.5107 17.1942 14.7233 15.1822 15.1096C15.1605 15.1161 15.1358 15.1209 15.1107 15.1258C15.1042 15.1271 15.0977 15.1283 15.0912 15.1296C13.8157 15.3787 12.4492 15.445 11.1527 15.4814C10.8427 15.4896 10.5335 15.4896 10.2235 15.4896C8.93446 15.4899 7.64991 15.3374 6.39683 15.0351C6.39019 15.0334 6.38323 15.0332 6.37653 15.0347C6.36982 15.0362 6.36357 15.0392 6.35825 15.0435C6.35293 15.0479 6.34871 15.0534 6.34594 15.0597C6.34317 15.0659 6.34191 15.0728 6.34228 15.0796C6.3777 15.4876 6.46634 15.8891 6.60594 16.2741C6.77957 16.7195 7.386 17.7894 9.64074 17.7894C10.9509 17.7918 12.2568 17.6393 13.5311 17.3349C13.5376 17.3334 13.5443 17.3334 13.5508 17.3348C13.5573 17.3363 13.5634 17.3391 13.5686 17.3432C13.5738 17.3473 13.5781 17.3526 13.581 17.3585C13.584 17.3645 13.5855 17.371 13.5857 17.3776V18.8848C13.5854 18.8919 13.5836 18.8988 13.5802 18.9051C13.577 18.9114 13.5723 18.9169 13.5666 18.9211C13.1681 19.2099 12.6324 19.3797 12.1632 19.5283C12.142 19.535 12.121 19.5417 12.1001 19.5483C11.8867 19.6156 11.6706 19.6747 11.4518 19.7256C9.46283 20.1786 7.38699 20.069 5.45674 19.4093C3.65385 18.7766 1.81368 17.2258 1.35909 15.3623C1.11633 14.3534 0.945279 13.3285 0.847228 12.2953C0.744202 11.1655 0.709778 10.0339 0.675305 8.90058C0.662321 8.47372 0.649329 8.04664 0.632663 7.61935C0.589932 6.53037 0.614479 5.3432 0.8445 4.27237C1.32273 2.09801 3.29381 0.576314 5.45219 0.257251C5.49655 0.250684 5.54555 0.242065 5.60293 0.231971C6.0301 0.156834 6.92172 0 9.82077 0H9.84533C13.1329 0 14.5521 0.201801 14.9267 0.257251ZM16.1213 12.1808V6.84215C16.1219 5.75074 15.844 4.88412 15.2876 4.24237C14.7112 3.60151 13.9575 3.27246 13.0229 3.27246C11.9418 3.27246 11.1236 3.68877 10.5781 4.52052L10.0508 5.40409L9.52437 4.52052C8.97886 3.68877 8.16062 3.27246 7.07779 3.27246C6.14225 3.27246 5.38856 3.60151 4.81394 4.24237C4.25692 4.88474 3.9784 5.75132 3.9784 6.84215V12.1808H6.09314V6.99941C6.09314 5.90858 6.55228 5.35228 7.47145 5.35228C8.48791 5.35228 8.99797 6.0104 8.99797 7.31031V10.1464H11.1009V7.31031C11.1009 6.0104 11.61 5.35228 12.6265 5.35228C13.5511 5.35228 14.0057 5.90858 14.0057 6.99941V12.1808H16.1213Z" fill="currentColor"/>
          </g>
          <defs>
            <clipPath id="clip0_298_2563">
              <rect width="20" height="20" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </a>

</div>

<style>
  .socialbuttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    max-height: 20px;
    
  }

  .socialbuttons a {
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease;
    color: var(--theme-text);
  }

  .socialbuttons a:hover {
    opacity: 0.8;
  }

  .socialbuttons svg {
    height: 100%;
    width: auto;
  }
</style>
