---
const { tags } = Astro.props;
---

<ul>
  {
    tags.map((tag: any) => {
      const tagSlug = typeof tag === "string" ? tag : tag.slug || tag.name;
      const tagName = typeof tag === "string" ? tag : tag.name;
      return (
        <a href={`/tags/${tagSlug}`}>
          <li>{tagName}</li>
        </a>
      );
    })
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.625rem;
    width: 100%;
  }
  li {
    list-style: none;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--theme-text);
    border: 1px solid var(--tag-border);
    border-radius: 2rem;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;

    li {
      color: var(--text-hover);
      border-color: var(--tag-border-hover);
    }
  }
</style>
